{% extends "base.html" %}
{% block body %}
<div class="col-lg-9 mb-3">
    <ul class="list-group">
    {% for jogo in jogos_carrinho %}
        <li class="list-group-item d-flex justify-content-between align-items-center">{{jogo.nome}}
            <a href="{% url 'remover_jogo_carrinho' jogo.id %}">Excluir
            </a>
            <span class="badge badge-primary badge-pill">R$ {{jogo.preco}}</span>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="col-lg-3">
    <button class="btn btn-success w-100">Finalizar comprar</button>
</div>

{% endblock %}